<div class="hero-section text-center d-flex flex-column justify-content-center">
    <h1 class="display-5 fw-bold">@Title</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">@Paragraph</p>
        @if (Visible)
        {
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <button type="button" class="btn btn-primary btn-lg px-4 gap-3">@ButtonText</button>
            </div>
        }
        
    </div>
</div>

@code {
    [Parameter]
    public string? Title { get; set; }
    [Parameter]
    public string? Paragraph { get; set; }
    [Parameter]
    public string? ButtonText { get; set; }
    [Parameter]
    public bool Visible { get; set; } = true;
}
