
<div class="idance pb-5">
    <div class="schedule content-block">
        <div class="container">
            <div class="timetable">
                <nav class="nav nav-tabs">
                    <a class="nav-link active">@Day</a>
                </nav>
                <div class="tab-content">
                    <div class="tab-pane show active">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="timetable-item">
                                    <div class="timetable-item-img">
                                        <img src="https://www.bootdey.com/image/100x80/FFB6C1/000000" alt="Contemporary Dance">
                                    </div>
                                    <div class="timetable-item-main">
                                        <div class="timetable-item-time">@Workout</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string? Day { get; set; }
    [Parameter]
    public string? Workout { get; set; }
}
