<div class="plan pb-5 bg-light mx-auto shadow">
    <div class="schedule">
        <div class="container">
            <div class="timetable">
                <div>
                    <p class="nav-link active">@Day</p>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-md-6">
                        <div class="timetable-item">
                            <div class="timetable-item-img">
                                <img src="https://www.bootdey.com/image/100x80/FFB6C1/000000" alt="Image">
                            </div>
                            <div class="timetable-item-main d-flex justify-content-center align-items-center">
                                <div class="timetable-item-time">@Workout</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string? Day { get; set; }
    [Parameter]
    public string? Workout { get; set; }
}
