<div class="container d-flex justify-content-center align-items-center my-5">
    <div class="row ">
        <div class="col-md-4 col-sm-6 content-card text-black">
            <div class="card-big-shadow">
                <div class="card card-just-text" data-background="color" data-color="blue" data-radius="none">
                    <div class="content">
                        <i class="guide-icon bi bi-1-circle-fill"></i>
                        <h4 class="title">STEP ONE</h4>
                        <p class="description">What all of these have in common is that they're pulling information out of the app or the service and making it relevant to the moment. </p>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="col-md-4 col-sm-6 content-card">
            <div class="card-big-shadow">
                <div class="card card-just-text" data-background="color" data-color="green" data-radius="none">
                    <div class="content">
                        <i class="guide-icon bi bi-2-circle-fill"></i>
                        <h4 class="title">STEP TWO</h4>
                        <p class="description">What all of these have in common is that they're pulling information out of the app or the service and making it relevant to the moment. </p>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="col-md-4 col-sm-6 content-card">
            <div class="card-big-shadow">
                <div class="card card-just-text" data-background="color" data-color="yellow" data-radius="none">
                    <div class="content">
                        <i class="guide-icon bi bi-3-circle-fill"></i>
                        <h4 class="title">STEP THREE</h4>
                        <p class="description">What all of these have in common is that they're pulling information out of the app or the service and making it relevant to the moment. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-grid col-2 gap-2 mx-auto mb-5">
    <button class="btn btn-success button" type="button">Button</button>
</div>

@code {

}
