<div class="container d-flex justify-content-center align-items-center my-5">
    <div class="row">
        <div class="col-lg-4 col-sm-6 col-12 content-card text-black d-flex justify-content-center mx-auto">
            <div class="card-big-shadow">
                <div class="card card-just-text" data-background="color" data-color="blue" data-radius="none">
                    <div class="content">
                        <i class="guide-icon bi bi-1-circle-fill"></i>
                        <h4 class="title text-dark">STEP ONE</h4>
                        <p class="description">To generate your free Workout Schedule, start to fill in your 'Full Name' and 'Email-address'.</p>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="col-lg-4 col-sm-6 col-12 content-card d-flex justify-content-center mx-auto">
            <div class="card-big-shadow">
                <div class="card card-just-text" data-background="color" data-color="green" data-radius="none">
                    <div class="content">
                        <i class="guide-icon bi bi-2-circle-fill"></i>
                        <h4 class="title text-dark">STEP TWO</h4>
                        <p class="description">Choose your workout 'Goal', your workout 'Location' and your workout 'Experience'.</p>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="col-lg-4 col-sm-6 col-12 content-card d-flex justify-content-center mx-auto">
            <div class="card-big-shadow">
                <div class="card card-just-text" data-background="color" data-color="yellow" data-radius="none">
                    <div class="content">
                        <i class="guide-icon bi bi-3-circle-fill"></i>
                        <h4 class="title text-dark">STEP THREE</h4>
                        <p class="description">Click on 'Create Schedule' and a Personalized Workout Schedule will be available for you!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center align-items-center mx-auto mb-5">
    <NavLink href="generator" class="btn btn-primary btn-lg px-4 gap-3">Start Generate!</NavLink>
</div>

@code {

}
