<div class="container-fluid footer py-2">
    <div class="py-2 my-2">
        <div class="nav justify-content-center align-items-center border-bottom fs-4 gap-4 pb-2">
            <a style="color: #3b5998;" href="#!" role="button">
                <i class="bi bi-facebook"></i>
            </a>
            <a style="color: #55acee;" href="#!" role="button">
                <i class="bi bi-twitter"></i>
            </a>
            <a style="color: #ac2bac;" href="#!" role="button">
                <i class="bi bi-instagram"></i>
            </a>
        </div>
        <p class="text-center mt-2">&copy; 2023, FITMASTER - All rights reserved.</p>
    </div>
</div>

@code {

}
