@inherits LayoutComponentBase

<body class="container-fluid p-0">
    <header>
        <NavMenu />
    </header>

    <main>
        <section class="container">
            @Body
        </section>
    </main>

    <footer>
    </footer>
</body>
