<nav class="navbar navbar-light navbar-expand-lg bg-body-tertiary shadow">
    <div class="container">
        <a class="navbar-brand fw-bolder text-success fs-4" href="#"><span class="text-dark">FIT</span>MASTER</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <NavLink class="nav-link" href="/">
                        <span>Home</span>
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="generator">
                        <span>Generator</span>
                    </NavLink>
                </li>
            </ul>
            <div class="d-flex">
                <button class="btn btn-outline-success">Login</button>
            </div>
        </div>
    </div>
</nav>
