@page "/generator"
@using WoS_Gen

<PageTitle>Schedule Generator</PageTitle>

<section class="banner-image">
    <HeroSection 
        Title="Start Generating Below" 
        Paragraph="
                Start with filling in your input, then click the button to generate and 
                see your personalized workout Schedule!
            "
        ButtonText="Generate Now!"
        Visible="false"     
    />
</section>

<section class="container w-50 p-4 my-5">
    <form>
        <div class="row mb-3">
            <label for="fullname" class="col-sm-2 col-form-label">Fullname:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="fullname">
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Email:</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail3">
            </div>
        </div>
        <fieldset class="row mb-3">
            <legend class="col-form-label col-sm-2 pt-0">Goal:</legend>
            <div class="col-sm-10 d-flex gap-4">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="goal" id="goal1" value="option1" checked>
                    <label class="form-check-label" for="goal1">
                        Build Muscles
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="goal" id="goal2" value="option2">
                    <label class="form-check-label" for="goal2">
                        Lose Weight
                    </label>
                </div>
            </div>
        </fieldset>
        <fieldset class="row mb-3">
            <legend class="col-form-label col-sm-2 pt-0">Location:</legend>
            <div class="col-sm-10 d-flex gap-4">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                    <label class="form-check-label" for="gridRadios1">
                        Gym
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                    <label class="form-check-label" for="gridRadios2">
                        Home
                    </label>
                </div>
            </div>
        </fieldset>
        <fieldset class="row mb-3">
            <legend class="col-form-label col-sm-2 pt-0">Gender:</legend>
            <div class="col-sm-10 d-flex gap-4">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="grid" id="grid1" value="option1" checked>
                    <label class="form-check-label" for="grid1">
                        Male
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="grid" id="grid2" value="option2">
                    <label class="form-check-label" for="grid2">
                        Female
                    </label>
                </div>
            </div>
        </fieldset>
        <div class="d-flex flex-column justify-content-center">
            <button @onclick="GenerateSchedule" class="btn btn-primary">Generate Workout Schedule</button>
        </div>
    </form>
</section>

<section>
    <Schedule />
</section>

@code {
    private void GenerateSchedule()
    {
        
    }

}
