@page "/generator"
@using WoS_Gen

<PageTitle>Schedule Generator</PageTitle>

<section class="banner-image">
    <HeroSection 
        Title="Start Generating Below" 
        Paragraph="
                Start with filling in your input, then click the button to generate and 
                see your personalized workout Schedule!
            "
        ButtonText="Generate Now!"
        Visible="true"     
    />
</section>


@code {

}
