@page "/"
@using WoS_Gen

<PageTitle>Index</PageTitle>

<section class="hero-image">
    <HeroSection 
        Title="Start Generate Your Workout Schedule Today!" 
        Paragraph="
                Are you tired of feeling unmotivated and uninspired with your workout routine? 
                Look no further! Our workout schedule generator is here to revolutionize the way you approach your fitness journey. 
                With our state-of-the-art algorithm, you'll receive a personalized workout schedule tailored to your individual goals, 
                fitness level and schedule. Say goodbye to the guesswork and frustration of creating your own workout plan. 
                With our workout schedule generator, you can focus on what really matters - achieving your fitness goals and 
                feeling your best. Whether you're a beginner or a seasoned pro, our generator has something for everyone. 
                The easy to use interface makes it simple to create and adjust your schedule as your goals change. 
                With our generator, you'll never have to worry about hitting a plateau or getting bored with your routine again. 
                Try it now and experience the difference for yourself!
            "
        ButtonText="Start Generate!"
        Visible="true"
    />
</section>

<section>
    <ScheduleGuide />
</section>
